# STAT301 Group 21 Project ?

Group 21: 
- Angela Yandrofski
- Justin Zhu
- Shuri Yamamoto
- Yiwen Guo

-----------------------

## **Introduction:**

Understanding the monthly income you earn from your job is important; we all want to know what characteristics determine how much money we can earn. The concept of exploring and accessing what employment characteristics affect income through empirical study is not new, however. One such existing literature investigates how employee’s income and job satisfaction can be related, and how other characteristics such as age; and tenure can have significant effect on job satisfaction (https://ijbssnet.com/journals/Vol_4_No_7_July_2013/3.pdf). Much of existing literature covers how much of an impact compensation has on an employees performance, tenure, etc; We, however, want to explore how we may use such characteristics like age; or job satisfaction to see if we can predict an employees monthly income. Another such paper by Ranta and Ylinen (https://www.sciencedirect.com/science/article/pii/S104450052300046X ) shows they want to determine how different employee benefits can be associated with company performance measures. Instead of following the exploration of the effects income has on company values, we instead seek to use a very rarely seen exploration of how possible characteristics such as distance from home, tenure, or the years since promotion can be used to predict income instead, if it can predict it at all. Based on this background information, we have come up with 2 possible questions we could answer. The first possible question is can we determine the monthly income of an employee based on certain characteristics of individuals at the company? If yes, can we quantify the relationship? The second possible question is can employee attrition be predicted based on age, daily rate, years at company, years since promotion, and distance from home? 

The dataset chosen is a dataset of HR Analytics with 1470 observations and 35 variables.This HR analytics dataset was collected for the HR department to make sure that the organization is running as it should and to gain insights into the organization, and the dataset came from Kaggle.
- The **Continuous Numeric Variables** are: Age, DailyRate, DistanceFromHome, HourlyRate, MonthlyIncome, MonthlyRate, NumCompaniesWorked, PercentSalaryHike, TotalWorkingYears, TrainingTimesLastYears, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager
- The **Categorical Variables** (all of which are nominal except attrition and over18) are: Attrition (which is a binary variable because its Yes / No), BuisnessTravel, Department, EducationField, Gender, JobRole, MaritalStatus, Over18 (which is also a binary variable because it's Yes / No), EmployeeNumber (which is a unique value given to each of the employees)
    - EmployeeCount and StandardHours are both constant variables set at 1 and 80 respectively (not very important at all to the dataset or to the project)
- The **Ordinal Variables** are: Education, EnvironmentSatisfaction, JobInvolvement, JobLevel, JobSatisfaction, PerformanceRating, RelationshipSatisfaction, StockOptionLevel (0 to 3), WorkLifeBalance. Most of which are rankings from 1 to 4 or 5.
- 
Because of the classification nature of our dataset, we have chosen to focus on the question: Can we determine the monthly income of an employee based on certain characteristics of individuals at the company? If yes, can we quantify the relationship? Our Response variable is Monthly Income and we have chosen to determine our explanatory variables via forward selection in the EDA section to determine the most influential characteristics for monthly income. This question is focused on both prediction and inference as we are trying to predict precise monthly income predictions based on characteristics from the dataset, and we are aiming to determine which such characteristics significantly impact employee monthly income

## **Methods and Results:**

## **Discussion:**

## **References:**

In [1]:
packages <- c("broom", "latex2exp", "tidymodels", "repr", "gridExtra", "faraway", 
              "mltools", "leaps", "glmnet", "tidyverse", "modelr", "infer", "GGally", "patchwork")

install_if_missing <- function(packages) {
  for (pkg in packages) {
    if (!require(pkg, character.only = TRUE)) {
      install.packages(pkg, dependencies = TRUE)
    }
  }
}
install_if_missing(packages)

# library(broom)
# library(latex2exp)
# library(tidymodels)
# library(repr)
# library(gridExtra)
# library(faraway)
# library(mltools)
# library(leaps)
# library(glmnet)
# library(tidyverse)
# library(modelr)
# library(infer)
# library(GGally)
# library(tidyverse)
# library(patchwork)

Loading required package: broom

Loading required package: latex2exp

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘latex2exp’”
Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

Warning message:
“unable to access index for repository https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib:
  cannot open URL 'https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib/PACKAGES'”
Warning message:
“package ‘latex2exp’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”
Loading required package: tidymodels

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘tidymodels’”
Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

Warning message:
“unable to access index for repository https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib:
  cannot open URL 'https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib/PACKAGES'”
Warning message:
“package ‘tidymodels’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”
Loading required package: repr

Loading required package: gridExtra

Loading required package: faraway

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘faraway’”
Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

Warning message:
“unable to access index for repository https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib:
  cannot open URL 'https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib/PACKAGES'”
Warning message:
“package ‘faraway’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”
Loading required package: mltools

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘mltools’”
Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

Warning message:
“unable to access index for repository https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib:
  cannot open URL 'https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib/PACKAGES'”
Warning message:
“package ‘mltools’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”
Loading required package: leaps

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘leaps’”
Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

Warning message:
“unable to access index for repository https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib:
  cannot open URL 'https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib/PACKAGES'”
Warning message:
“package ‘leaps’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”
Loading required package: glmnet

Loading required package: Matrix

Loaded glmnet 4.1-8

Loading required package: tidyverse

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::combine() masks gridExtra::combine()
✖ tidyr::expand()  masks Matrix::expand()
✖ dplyr::filter()  masks stats::filter()
✖ dplyr::lag()     masks stats::lag()
✖ tidyr::pack()    masks Matrix::pack()
✖ tidyr::unpack()  masks Matrix::unpack()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Loading required package: modelr


Attaching package: ‘modelr’


The following object is masked from ‘package:broom’:

    bootstrap


Loading required package: infer

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘infer’”
Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

Warning message:
“unable to access index for repository https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib:
  cannot open URL 'https://mirror.rcg.sfu.ca/mirror/CRAN/src/contrib/PACKAGES'”
Warning message:
“package ‘infer’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”
Loading required package: GGally

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

Loading required package: patchwork

ERROR: Error in library(latex2exp): there is no package called ‘latex2exp’

In [5]:
HR_data <- read.csv('HR-Employee-Attrition.csv') %>% select(-Over18)
head(HR_data)
num_variables <- ncol(HR_data)
num_observations <- nrow(HR_data)
num_variables
num_observations

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ⋯
1 1                2         Life Sciences  1             1              ⋯
2 8                1         Life Sciences  1             2              ⋯
3 2                2         Other          1             4              ⋯
4 3                4         Life Sciences  1             5              ⋯
5 2                1         Medical        1             7              ⋯
6 2                2         Life Sciences  1             8              ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

[1] 34

[1] 1470

In [6]:
HR_data <- read.csv('HR-Employee-Attrition.csv') %>% select(-Over18)
head(HR_data)
num_variables <- ncol(HR_data)
num_observations <- nrow(HR_data)
num_variables
num_observations

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ⋯
1 1                2         Life Sciences  1             1              ⋯
2 8                1         Life Sciences  1             2              ⋯
3 2                2         Other          1             4              ⋯
4 3                4         Life Sciences  1             5              ⋯
5 2                1         Medical        1             7              ⋯
6 2                2         Life Sciences  1             8              ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

[1] 34

[1] 1470

In [4]:
HR_data <- read.csv('HR-Employee-Attrition.csv') %>% select(-Over18)
head(HR_data)
num_variables <- ncol(HR_data)
num_observations <- nrow(HR_data)
num_variables
num_observations

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ⋯
1 1                2         Life Sciences  1             1              ⋯
2 8                1         Life Sciences  1             2              ⋯
3 2                2         Other          1             4              ⋯
4 3                4         Life Sciences  1             5              ⋯
5 2                1         Medical        1             7              ⋯
6 2                2         Life Sciences  1             8              ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

[1] 34

[1] 1470

## The Question:
**Can we determine the monthly income of an employee based on certain characteristics of individuals at the company? If yes, can we quantify the relationship?**

The objective of this research question is to identify and analyze the impact of various demographic factors on the monthly income of employees. By understanding these influences, the company can determine if any demographic biases exist, and it can inform salary and compensation practices to ensure equity across different employee groups.